$primary:     #000000;
$secondary:   #ffffff;
$warning:     #F6CD60; 
$yellow-100:  #FFF4D7;
$gray:        #D6D6D6;
$nero-black:  #252525;


// backgrounds
$backgroundColorLight: linear-gradient(113.71deg, #9FA7CD -12.61%, #F5F5F5 66.07%, #FFF8E8 105.22%);
$backgroundColorDark: linear-gradient(113.71deg, #121313 -12.61%, #373232 66.07%, #343230 105.22%);
