.btn {
    padding: 14px 40px;
    font-family: $font-roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 154.19%;
    text-align: center;
    letter-spacing: 0.02em;

    @include media-breakpoint-down(md) {
        padding: 10px 25px;
    }
}

.btn-primary {
    background-color: var(--secondary);
    color: var(--primary);
    border-color: var(--secondary);

    &:hover {
        background-color: var(--secondary);
        color: var(--primary);
        border-color: var(--secondary);
    }
}